html {
    padding: 0;
    margin: 0;
    background-color: #fffae7;
    color: #11162b;
    font-family: Bookman, URW Bookman L, serif;
    font-weight: 700;
    font-size: large;
}

body {
    max-width: 50rem;
    margin: auto;
    padding: 1rem;
    text-align: center;
}

header {
    text-decoration: underline;
}

#invitation {
    text-align: justify;
}

b {
    font-weight: 900;
    color: black;
    text-decoration: underline;
}

img {
    width: 16rem;
    height: 16rem;
}

#cartoon-swapper {
    width: 16rem;
    height: 16rem;
    margin: auto;
}

#cartoon-inverted {
    display: none;
}

main:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    background-image: url("chatgpt-eldritch-ai-512.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    opacity: 0.03;
}
